<script type="text/javascript">
$(document).ready(function(){
	var id = navigator.geolocation.watchPosition(getPosition, error, {'enableHighAccuracy': false, 'maximumAge': 0, 'timeout': 10000});
	function getPosition(pos){
		result = pos.coords.altitudeAccuracy;
		if(result == null){
			output = "Long: " + pos.coords.longitude + "<br />" + "Lat: " + pos.coords.latitude;
		}
		else {
			output = "Altitude: " + result;
		}
		document.getElementById('alt_box').innerHTML = output;
	}
	
	function error(err){
		output = "Something got messed up. " + err;
		document.getElementById('alt_box').innerHTML = output;
		alert('boop');
	}
})
</script>
<div id="main">
	<div id="alt_box">
		Yo
	</div>
</div>